img{
    width: 15vh;
    right: 15vh;
}
.logo{
    width: 7vh;
    right: 7vh;
}

.col{
    width: 9VH;
    right: 9VH;
    
}
#gif{
text-align: center;
}


#p2{
    background-color: white;
  
}
body{
  background-color: #769064;
}
